<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn from the comfort of your home</h1>
    <br />
    <h2>I'm a lifelong learner, Philip.</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success'%>
    <br /><br />
  </div>
</div>