@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Dosis:800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700');


.navbar {
  background: image_url('topography.png');
  font-family: 'Dosis', sans-serif;
  box-shadow: 1px 1px 1px 1px #ccc;
  margin-bottom: 0;  
}

.navbar-inverse a.navbar-brand {
  color: #2bc23f;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.5px;
  font-size: 30px;
}

.navbar-toggler-icon {
  background-color: #cccccc;
}

.nav-link {
  color: #2bc23f !important;
}

.hero {
/*  background: image_url('hero.jpg') no-repeat center center fixed;*/
  background-image: image_url('hero.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  box-shadow: 0px 1px 1px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 1;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right:  5%;
}

body {
  background: image_url('lightpaperfibers.png');
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.form-check-input {
  position: absolute;
  margin-top: 0.25rem;
  margin-left: 0.25rem; 
}